*{
	margin: 0;
	padding: 0;
}
img{
	width: 100%;
}
/*
* GRID CSSS
 */

[class*='col-']{
	float: left;
	/*min-height: 200px;*/
}
.col-1{
	width: 8.3333%;
}
.col-2{
	width: 16.6667%;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.3333%;
}
.col-5{
	width: 41.6667%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.3333%;
}
.col-8{
	width: 66.6667%;
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.3333%;
}
.col-11{
	width: 91.6667%;
}
.col-12{
	width: 100%;
}
/*
* COMMON CSS
 */
.clearfix:after, .clearfix:before{
	clear: both;
	display: table;
	content: " ";
}

.bg-green{
	background: green; 
}
.bg-green{
	background: green; 
}
.bg-red{
	background: red; 
}
.bg-yellow{
	background: yellow; 
}
.bg-grey{
	background: grey; 
}
.bg-blue{
	background: blue; 
}
.text-center{
	text-align: center;
}
.relative{
	position: relative;
}
/*
* HEADER CSS
 */
header [class*='col-']{
	/*min-height: 100px;*/
}
.search-form input{
	width: 250px;
	margin-top: 20px;
    border-radius: 20px;
    height: 35px;
    border: 1px solid #dedede;
    padding-left: 15px;
}
.search-form form{
	display: inline-block;
}
.search-form input:focus{
	outline: none;
	border: 1px solid #2ca9e1;
    box-shadow: 0 0 5px #2ca9e1;
}
.search-form button:focus{
	outline: none;
}
.search-form button{
	position: absolute;
    top: 22px;
    right: 13px;
    border: none;
    background: transparent;
    cursor: pointer;
}
.favor .unit{
	float: right;
    text-align: center;
    padding-right: 20px;
    border-right: 1px dashed #dedede;
}
.favor .unit:first-child{
	border-right: none;
	padding-left: 20px;
}
.favor .unit i{
	font-size: 30px;
}
.favor .unit span{
	display: block;
}
.favor{
	margin-top: 15px;
}
.favor a{
	text-decoration: none;
	color: #ccc;
}
.favor a:hover{
	color: #2ca9e1;
}